
$black: #0c0c0c;
$white: #fcf3e0;
$red: #a82e1e;
$yellow: #ffd149;
$green: #199e0f;
$blue: #1a4fcc;

$accent: $red;

$gradient: repeating-linear-gradient(
  90deg,
  $red 0%,
  $red 25%,
  $blue 25%,
  $blue 50%,
  $green 50%,
  $green 75%,
  $yellow 75%,
  $yellow 100%,
);

$light-black: desaturate(lighten($black, 64%), 10%);
$dark-accent: desaturate(darken($accent, 20%), 12%);

$typecolor: $black;

$fontstack: "Futura PT", Helvetica, sans-serif;
$fontweight: 400;
$titlestack: "Joschmi", $fontstack;
$boldweight: 700;