---
---

@import 'skeleton';
@import '_palette';
@import '_typography';

$content_width: 600px;

::selection {
  background-color: rgba(lighten($accent, 20%), 0.3);
}

html {
  background-color: $white;
  font-size: 10pt;
}

body {
  font-family: $fontstack;
  color: $typecolor;
  font-weight: $fontweight;
}

#title h1, h2 {
  font-family: $titlestack;
  letter-spacing: 4px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $boldweight;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1rem;
}

a {
  color: $accent;
  text-decoration: none;
  font-weight: $boldweight;
  &:hover {
    color: lighten($accent, 20%);
  }
}

blockquote {
  border-left: solid 4px $accent;
  margin-left: 0.8rem;
  padding-left: 1.4rem;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: auto;
  width: auto;
  padding: 0;
  padding-top: 1rem;
  margin-bottom: -1.4rem;
}

header {
  background: $white;
  color: $black;
  padding-top: 1rem;
  #title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10rem;
    a {
      padding: 0;
      margin-bottom: 8px;
      font-size: 3.2rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      line-height: 3.6rem;
      // font-style: italic;
      font-family: $titlestack;
      font-weight: $boldweight;
      color: $black;
      margin-left: -3px; // visual
      cursor: pointer;
      &:hover {
        background-repeat: repeat-x;
        background-size: 100px 100%;
        background-position: 0% 0%;
        background-image: $gradient;
        animation: barberpole 2s linear infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }
    span {
      font-size: 1.8rem;
      display: block;
      width: auto;
      padding: 0 0 0.8rem;
      line-height: 2.2rem;
      margin-bottom: 1rem;
    }
  }
}

@keyframes barberpole {
  0% {
    background-position: 0px 0%;
  }
  100% {
    background-position: 100px 0%;
  }
}

@media (min-width: 550px) {
  header #title {
    height: 12rem;
    a {
      font-size: 5.4rem;
      letter-spacing: 8px;
      line-height: 5rem;
      margin-right: -8px; // visual
    }
    span {
      font-size: 2rem;
    }
  }
}

// nav stuff
nav {
  border-width: 1px 0;
  border-style: solid;
  border-color: $light_black;
  height: 4rem;
  display: flex;
  justify-content: center;
  #navbar {
    max-width: $content_width;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: $boldweight;
    // font-size: 1.4rem;
    a div {
      color: $black;
      opacity: 1;
      &.active {
        border-bottom: solid 6px $black;
        border-top: solid 6px transparent;
      }
      &:hover {
        color: inherit;
        opacity: 1;
      }
    }
  }
}

@media (min-width: 550px) {
  #navbar {
    font-size: 2.2rem;
  }
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  align-items: center;
}

content {
  width: 100%;
  max-width: $content_width;
  flex: 1 0 auto;
  margin-top: 0;
  border: none;
  margin: 0;
  .column {
    padding: 0 1rem;
  }
}

@media (min-width: $content_width) {
  content {
    border-width: 0 1px;
    border-style: solid;
    border-color: $light_black;
  }
}

@media (min-width: 550px) {
  content {
    padding: 1.6rem;
  }
}

// utility classes
.center {
  display: block;
  text-align: center;
}

.white-text {
  color: $white;
}

.black-text {
  color: $black;
}

.accent-text {
  color: $accent;
}

.icon {
  font-family: Icomoon;
}

// more specific stylings

.quoted {
  margin-left: auto;
  text-align: right;
}

footer {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: $light_black;
  width: 100vw;
  #footer_bar {
    margin: 0 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: $light-black;
    font-style: italic;
    font-size: 1rem;
    font-weight: $fontweight;
    line-height: 1rem;
    padding: 1.8rem 0 1.8rem;
    div {
      flex: 1;
    }
  }
}

#catalogue {
  display: flex;
  align-content: space-between;
  justify-content: space-around;
  flex-wrap: wrap;
}

.book {
  border: $accent solid 1.8rem;
  height: 28rem;
  width: 20rem;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    color: $black;
    font-size: 2.8rem;
    font-family: $fontstack;
    text-transform: uppercase;
    width: 95%;
    display: block;
    text-align: center;
    // height: 6rem;
  }
  h2, h3 {
    color: $black;
    font-size: 1.4rem;
    font-family: $fontstack;
    font-weight: $fontweight;
    letter-spacing: 1px;
    text-transform: none;
    width: 80%;
    display: block;
    text-align: center;
  }
}