---
layout: base
---

<header class="center">
  <!-- <div id="logo">
    <img style="width: 120px" src="{{ site.baseurl}}/assets/images/radiolevity-logo.svg" />
  </div> -->
  <div id="title">
    <a href="{{site.baseurl}}/">Polari Press</a>
    <span class="center">Britain's premiere queer publishing house</span>
  </div>
</header>

<nav>
  <div id="navbar">
    {% for item in site.data.nav %}
      {% assign href = site.baseurl | append: '/' | append: item.link %}
      <a style="color: {% cycle 'color': '#a82e1e', '#ffd149', '#199e0f', '#1a4fcc' %}; border-color: {% cycle 'border': '#a82e1e', '#ffd149', '#199e0f', '#1a4fcc' %}" href="{{ site.baseurl }}/{{ item.link }}"><div class="{% if page.url == href %}active{% endif %}">{{ item.title }}</div></a>
    {% endfor %}
  </div>
</nav>

<div class="container">
  <content class="row">
    <div class="column">
      {{ content }}
    </div>
  </content>

  <footer>
    <div id="footer_bar">
      <div style="text-align: left">Queer publishing</div>
      <div style="text-align: center; font-style: normal">❤️💛💚💙💜</div>
      <div style="text-align: right">&copy; 2019 <a style="color: inherit" href="https://radiolevity.com">Finn James</a></div>
    </div>
  </footer>
</div>