---
layout: base
---

<header class="center">
  <!-- <div id="logo">
    <img style="width: 120px" src="{{ site.baseurl}}/assets/images/radiolevity-logo.svg" />
  </div> -->
  <div id="title">
    <h1>Polari Press</h1>
    <span class="center">Britain's premiere queer publishing house</span>
  </div>
</header>

<nav>
  <div id="navbar">
    {% for item in site.data.nav %}
      <a href="{{ site.baseurl }}/{{ item.link }}"><div>{{ item.title }}</div></a>
    {% endfor %}
  </div>
</nav>

<div class="container">
  <content class="row">
    <div class="column">
      {{ content }}
    </div>
  </content>

  <footer>
    <div id="footer_bar">
      <div style="text-align: left">Queer publishing</div>
      <div style="text-align: center; flex: 0.1; font-style: normal">❤️</div>
      <div style="text-align: right">&copy; 2019 <a style="color: inherit" href="https://radiolevity.com">Finn James</a></div>
    </div>
  </footer>
</div>